
:root{
    --background-home: url('../assets/home/background-home-mobile.jpg') no-repeat center;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.container{
    
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: min-content 90%;
    /* border: 1px solid #f00; */
    padding: 20px;
    background: var(--background-home);
    background-size: cover;
    color: #fff;
    /* border: 1px solid #0ff; */

}

.main{
    /* border: 1px solid #0ff; */
    height: 100%;
}

.section__main{
    display: flex;
    flex-direction: column;
    /* border: 1px solid #f0f; */
    min-width: 90%;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    
}

.section__main__text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.section__text__span{
    text-transform: uppercase;
}

.section__text__title{
    text-transform: uppercase;
    font-size: 4em;
    font-weight: 400;
    letter-spacing: 8px;
}

.section__text__paragraph{
    text-align: center;
    font-size: 1.3em;
    line-height: 25px;
}

/* ? grid templare area explore */

.explore{
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle{
    background-color: #fff;
    color: #000;
    text-align: center;
    border-radius: 50%;
    font-size: 1.5em;
    padding: 3em 1.5em;
    text-transform: uppercase;
}

/* media query tablet */

@media (min-width: 625px) {

    .container{
        --background-home: url('../assets/home/background-home-tablet.jpg') no-repeat center;
        padding: 0 0 20px;
        /* border: 1px solid #fff; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: var(--background-home);
        background-size: cover;
    }
    .header__img{
        padding:  30px;
    }
    .main{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70%;
        /* border: 1px solid #f00; */
    }
    .section__main{
        width: 100%;
        max-width: 150px;
        grid-template-rows: repeat(2, 1fr);
        /* border: 1px solid #f00; */
    }

    .section__text__paragraph{
        /* border: 1px solid #ff0; */
        font-size: 1.3em;
        font-weight: normal;
        max-width: 450px;
        width: 100%;
    }

    .explore{
        align-items: center;
        margin: 30px 0 0 ;
    }

    .circle{
        /* padding: 4em 2.5em; */
        font-size: 1.8em;
    }

}

@media (width >= 1125px) {
    .container{
        --background-home: url('../assets/home/background-home-desktop.jpg') no-repeat center;
        background: var(--background-home);
        /* border: 1px solid #f00; */
        padding: 2.2em 0 0;
        height: 100vh;
        background-size: cover;
        /* grid-template-rows: 180% 87%; */

        /* grid-template-rows: 15% 80%; */
    }
    
    .main{
        /* border: 1px solid #f0f; */
        width: 100%;
        /* height: 91%; */
    }
    .section__main{
        /* border: 1px solid #0ff; */
        min-width: 100%;
        flex-direction: row;
    }
    
    .explore{
        /* border: 1px solid #0ff; */
        width: 50%;
    }

    .section__text__span{
        text-align: start;
        /* border: 1px solid #f0f; */
        width: 50%;
        font-size: 1.2em;
        font-weight: normala;
    }
    .section__text__paragraph{
        width: 50%;
        font-size: 1.18em;
        font-weight: normal;
        text-align: justify;
    }
    .section__text__title{
        font-size: 7em;
        width: 100%;
        text-align: center;
        letter-spacing: 12px;
        font-weight: normal;
    }

    .section__main__text{
        /* border: 1px solid #0ff; */
        width: 70%;
    }
}
