body {
    font-family: 'Raleway', sans-serif;
    width: 100vw;
    max-width: 1440px;
    height: 100vh;
}

html {
    height: 100vh;
    /* border: 1px solid #0ff; */
    display: flex;
    justify-content: center;
    align-items: center;
}